/* src\app\app.component.css */
.app-container {
  display: flex;
  height: 100vh;
  width: 100vw; /* 横幅を100vwに設定 */
}

.side-nav {
  width: 200px; /* サイドナビの幅を固定 */
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.side-nav nav ul {
  list-style-type: none;
  padding: 0;
}

.side-nav nav ul li {
  margin-bottom: 10px;
}

.nav-link {
  text-decoration: none;
  padding: 10px;
  color: #000;
  border-radius: 4px;
  display: block;
}

.nav-link:hover {
  background-color: #e0e0e0;
}

.spacer {
  flex-grow: 1;
}

.logout-button {
  padding: 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.logout-button:hover {
  background-color: #c82333;
}

.content {
  flex-grow: 1;
  padding: 30px;
  overflow-y: auto;
  /* width: calc(100% - 220px); サイドナビを除いた幅に設定 */
  /* margin-left: 220px; サイドナビの幅を確保 */
  display: flex;
  flex-direction: column;
  margin-right: 0; /* 右側の余白を0に設定 */
  padding-right: 0; /* 右側のパディングを0に設定 */
}

