<div class="app-container">
  <div class="side-nav">
    <nav>
      <ul>
        <li><a [routerLink]="['/calendar']" class="nav-link">カレンダー</a></li>
        <li><a [routerLink]="['/projects']" class="nav-link">プロジェクト</a></li>
        <li><a [routerLink]="['/tasks']" class="nav-link">タスク一覧</a></li>
        <li><a [routerLink]="['/profile']" class="nav-link">プロフィール</a></li>
        <!-- <li><a [routerLink]="['/user-search']" class="nav-link">ユーザー検索</a></li> 新しいリンクを追加 -->
      </ul>
    </nav>
    <div class="spacer"></div>
    <button (click)="logOut()" class="logout-button">ログアウト</button>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
