.container {
  max-width: 100%;
  margin: 0;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 98%;
  width: 95%; 
}

.button-container {
  display: flex;
  gap: 10px; /* ボタン間のスペースを調整 */
  justify-content: flex-start;
  margin-bottom: 20px;
}

.action-button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #d3d3d3; /* 明るいグレー */
  color: #333; /* 黒に近いグレー */
}

.action-button:hover {
  background-color: #bbb; /* ホバー時の色もグレー */
}

.add-task-button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #d3d3d3; /* 明るいグレー */
  color: #333; /* 黒に近いグレー */
}

.add-task-button:hover {
  background-color: #bbb; /* ホバー時の色もグレー */
}

.comparison-settings {
  display: flex;
  align-items: center;
  gap: 10px; /* ドロップダウンリストやチェックボックス間のスペース */
  margin-bottom: 10px; /* マージンを少し小さくする */
}

.comparison-settings select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px; /* フォントサイズを小さくする */
  width: auto; /* 幅を自動調整 */
}

.comparison-settings label {
  margin-right: 5px;
}

.calendar-comparison {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* カレンダー間のスペース */
  align-items: flex-start; /* 上揃えにする */
}

.calendar-left {
  width: 100%; /* カレンダーの幅を100%に設定 */
  display: flex;
  flex-direction: column;
}

.calendar-right {
  width: 46%; /* 比較カレンダーの幅を48%に設定 */
  display: flex;
  flex-direction: column;
}

.compare-active .calendar-left {
  width: 46%; /* 比較モード時にカレンダーの幅を48%に設定 */
}

.full-width {
  width: 95%; /* 全幅表示用のクラス */
}
