<div>
    <h2>プロジェクト詳細</h2>
    <div>
      <label>名前:
        <input [(ngModel)]="project.name" placeholder="名前">
      </label>
    </div>
    <div>
      <label>説明:
        <textarea [(ngModel)]="project.description" placeholder="説明"></textarea>
      </label>
    </div>
    <div>
      <label>開始日:
        <input type="date" [(ngModel)]="project.startDate">
      </label>
    </div>
    <div>
      <label>終了日:
        <input type="date" [(ngModel)]="project.endDate">
      </label>
    </div>
    <div>
      <label>色:</label>
      <div class="color-dropdown">
        <div *ngFor="let color of colors"
             class="color-option"
             [ngStyle]="{'background-color': color, 'border': project.color === color ? '3px solid black' : '1px solid #000'}"
             (click)="project.color = color"></div>
      </div>
    </div>
    <button (click)="updateProject()">保存</button>
    <button (click)="cancel()">キャンセル</button>
  </div>
  