.color-dropdown {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 100%;
  justify-content: center;
}

.color-option {
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 50%;
  transition: transform 0.2s, box-shadow 0.2s;
}

.color-option:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button {
  margin: 10px 5px 0 0;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #d3d3d3;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #bbb;
}

.project-detail-container {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
  max-height: 80vh;
  overflow-y: auto;
  font-size: 14px;
}

h3, h4 {
  margin: 10px 0;
}

ul {
  padding-left: 20px;
  margin: 5px 0;
}

ul li {
  margin-bottom: 5px;
}

p {
  margin: 10px 0;
}

.search-container {
  display: flex;
  gap: 5px;
  margin: 10px 0;
}

.search-container input {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-buttons {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
