<div>
    <h2>プロフィール</h2>
    <form (ngSubmit)="updateProfile()">
      <label for="username">ユーザー名:</label>
      <input type="text" [(ngModel)]="profile.displayName" name="username" required>
  
      <label for="email">メールアドレス:</label>
      <input type="email" [(ngModel)]="profile.email" name="email" disabled>
  
      <label for="bio">自己紹介:</label>
      <textarea [(ngModel)]="profile.bio" name="bio"></textarea>
  
      <label for="company">会社:</label>
      <input type="text" [(ngModel)]="profile.company" name="company">
  
      <label for="position">役職:</label>
      <input type="text" [(ngModel)]="profile.position" name="position">
  
      <label for="team">部署またはチーム:</label>
      <input type="text" [(ngModel)]="profile.team" name="team">
  
      <button type="submit">更新</button>
    </form>
    <p>{{ message }}</p> <!-- メッセージ表示 -->
  </div>
  